<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="fontAwesome/css/all.css">
</head>
<body>
    
    <div class="container">

        
        <div class="banner">

            <div class="logo">
                <i class="fa fa-bible bible"></i>
                 <h3 id="logo-text">We are Surest</h3>
            </div>


            <div class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>


            <div class="school-name">
                <h1 id="sname">Sure Steps International School</h1>
                <h3 id="saddress">Gwarimpa, Abuja</h3>

                <a href="/register"><button id="enroll_btn">Enroll now</button></a>
            </div>

        </div>

        <div class="values-text">
            
            <p>We Value</p>

        </div>


        <div class="values">
        
            <div class="card1"></div>

            <div class="card2"></div>

            <div class="card3"></div>

            <div class="card4"></div>


        </div>
    

        <div class="diversity-text">
            
            <p>We are truly International</p>

        </div>

        <div class="diversity">
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
        </div>


        <div class="testimonials-text">
            
            <p>Testimonials from Parents like you</p>

        </div>

        <div class="testimonials">

            <div class="img1">
                <div class="woman1"></div>
                <div class="text1">
                    <p>My son used to be a very slow learner before he joined Sure Steps at just 6 years. Today, he has become really fast in learning and ready for Junior High School and it's rigourous activities.</p>
                </div>
            </div>

                

            <div class="img2">
                <div class="man"></div>
                <div class="text2">
                    <p>My twins; Damien and Rena graduated best in their class this year and I am so proud of them. Sure Steps is really impacting Academic and Moral excellence into the lives of our children.</p>
                </div>
            </div>

            

            <div class="img3">
                <div class="woman2"></div>
                <div class="text3">
                    <p>Melissa ,my daughter, used to have a dislike to mathematics in her previous school, but now, she calculates so well and doesn't keep quiet about providing solution to algebraic equation problems. 
                    Thank you Sure Steps for this.
                    </p>
                </div>
            </div>

        </div>


        <div class="footer">
            <h3>Copyright &copy;Divine Academy</h3>
        </div>
       

    </div>


<script src="fontAwesome/js/all.js"></script>
</body>
</html>