<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    
    <div class="table">
        <h2><u>8th Grade School Supply List</u></h2>

        <table border="2">
            <tr><td colspan="2"><b><i>SHARED SUPPLIES</i></b></td></tr>
            <tr>
                <th><b>Quantity</b></th> <th><b>Items to Purchase</b></th>
            </tr>

            <tr>
                <td>1</td> <td>12 package of pencils</td>
            </tr>

            <tr>
                <td>1</td> <td>8 pack colored pencils</td>
            </tr>

            <tr>
                <td>1</td> <td>8 pack of dry erase markers</td>
            </tr>

            <tr>
                <td>2</td> <td>Boxes of tissues</td>
            </tr>

            <tr>
                <td>1 bottle</td> <td>Hand sanitizer</td>
            </tr>

            <tr>
                <td>1 can</td> <td>Disinfecting wipes</td>
            </tr>

            <tr>
                <td>2 pkgs</td> <td>Notebook paper(college or wide ruled)</td>
            </tr>

            <tr>
                <td>2 pack</td> <td> Glue sticks</td>
            </tr>

            <tr>
                <td>1</td> <td> Roll of paper towels</td>
            </tr>

        </table>

        
        <table border="2">
            <tr><td colspan="2"><b><i>INDIVIDUAL SUPPLIES</i></b></td></tr>
            <tr>
                <th><b>Quantity</b></th> <th><b>Items to Purchase</b></th>
            </tr>

            <tr>
                <td>1</td> <td>3-Subject notebook (Social Studies)</td>
            </tr>

            <tr>
                <td>1</td> <td>1 inch binder with plastic cover and pockets</td>
            </tr>

            <tr>
                <td>2</td> <td>Composition notebooks-college rule (ELA)</td>
            </tr>

            <tr>
                <td>2</td> <td>Composition notebooks (Science)</td>
            </tr>

            <tr>
                <td>1 pkg</td> <td>3x5 index cards</td>
            </tr>

            <tr>
                <td>1 pack</td> <td>graph paper</td>
            </tr>

            <tr>
                <td>1 pack</td> <td> Post-It notes</td>
            </tr>

            <tr>
                <td>1 pkg each</td> <td> Dry erase markers chisel tip and fine tip (Math)</td>
            </tr>

            <tr>
                <td>1 pkg</td> <td> Post-It notes</td>
            </tr>

            <tr>
                <td>1</td> <td> Graphing calculator (TI-84) strongly encouraged
                    Will be needed for the next five years
                    </td>
            </tr>

            <tr>
                <td>1 set</td> <td> Wired earbuds</td>
            </tr>


        </table>

    </div>

    <script src="js/services.js"></script>
</body>
</html>